/* ================================================================ */
/* Copyright: Kurniawan Aji S                                 */
/* Tema : Smartfren - WOW                                    */
/* ================================================================ */

.DINPro-Bold{ font-family:"DINPro-Bold", Helvetica, Arial, sans-serif; }
.DINPro-Medium{ font-family:"DINPro-Medium", Helvetica, Arial, sans-serif;  }
.DINPro-Regular{ font-family:"DINPro-Regular", Helvetica, Arial, sans-serif;  }
.Montserrat{ font-family:"Montserrat", Helvetica, Arial, sans-serif; }
.Gudea{ font-family:"Gudea", Helvetica, Arial, sans-serif; }
.TruenoBlk{ font-family:"TruenoBlk", Helvetica, Arial, sans-serif; }
.TruenoBd{ font-family:"TruenoBd", Helvetica, Arial, sans-serif; }
.TruenoRg{ font-family:"TruenoRg", Helvetica, Arial, sans-serif; }
.TruenoSBd{ font-family:"TruenoSBd", Helvetica, Arial, sans-serif; }
.TruenoLt{ font-family:"TruenoLt", Helvetica, Arial, sans-serif; }
.TruenoExBd{ font-family:"TruenoExBd", Helvetica, Arial, sans-serif; }
.BaksoSapi{ font-family:"BaksoSapi", Helvetica, Arial, sans-serif; }
@font-face {
    font-family: 'DINPro-Bold';
    src: url('DINPro-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DINPro-Medium';
    src: url('DINPro-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DINPro-Regular';
    src: url('DINPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: TruenoBlk;
    src: url('trueno/TruenoBlk.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: TruenoSBd;
    src: url('trueno/TruenoSBd.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: TruenoRg;
    src: url('trueno/TruenoRg.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: TruenoBd;
    src: url('trueno/TruenoBd.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: BaksoSapi;
    src: url('BaksoSapi.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: TruenoLt;
    src: url('trueno/TruenoLt.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: TruenoExBd;
    src: url('trueno/TruenoExBd.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
