/* ================================================================ */
/* Copyright: Kurniawan Aji S                                */
/* Tema : Smartfren - WOW                                    */
/* ================================================================ */

/* HEADER */
body{width: 100%;}
/* BODY */
h1{font-family: TruenoBlk;color: #fff;font-size: 30px;}
section{padding: 0;}
section#home{padding: 30px 0 0;}
header{z-index: 2;padding: 15px 0; position: fixed;top: 0;width: 100%;background: #FF1659 /*url('../img/bg_wow.jpg') no-repeat top left*/}
header + * {
  padding-top: 70px;
}
.logo{margin: 10px 0}
.btn-back{background: #F7B500; color: #fff!important; padding: 10px 40px;font-size: 24px;font-family: TruenoBd}
.btn-red{background: #FF1659; color: #fff!important; padding: 5px 30px;font-size: 18px;font-family: TruenoRg; height: 40px;}
.btn-dark{background: #323232;}
.btn-white{background: #fff;}


.shr{display: none;position: relative;}
.shrp{position: absolute;top: -15px; right: 40px;border: 0px solid #eee;padding: 5px;border-radius: 5px;font-size: 30px; }
.shrp a{color: #fff; padding: 0 5px}
.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56%;
}
.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.bg-white{background-color: #fff}
.bg-red{background-color: #FF1659}
#layanantar{background-color: #fff; color: #000}
#time .board{background: url(../img/board.png) no-repeat center center;width: 424px; height: 224px;margin: 30px auto; font-size: 72px;word-spacing: 35px;padding-top: 10px;padding-left: 0px}
.multiple-items{clear: both;}
.slick-prev, .slick-next{top: 45%!important;}
.slick-prev:before, .slick-next:before{font-size: 35px!important;color: #fb1658!important}
.slick-prev:before{margin-left: -13px!important;}
/* Activity */
.activity{background: #F7F7F7; border: 1px solid #979797; padding: 50px 0;}
.activity h3{color: #595959; font-size: 25px; font-family: TruenoBlk; padding: 10px 0;}
.act{background: #fff;padding: 30px;box-shadow: 0px 2px 4px rgba(0,0,0,0.3);}
.act p{color: #595959; font-size: 25px;font-family: TruenoBlk; margin-top: -15px;}

.box-activity{padding: 30px 0 60px;}
/*.box{background: url(../img/DQ.png) no-repeat center center}*/
/*.box img{width: 90%; margin: 0 auto;display: block; padding: 30px 0;}*/

span.lu,a.lu{font-size: 24px;}
a.lu{color: #FFDC7D}
/* LineUp*/
#lineup{}
#lineup p.lu-name,#gallery p.lu-name{font-size: 25px;margin-top: -30px;color: #fff;}
.lu-img img{display: inline-block;}
.modal-body p.lu-name{font-size: 16px!important;margin-top: -25px!important}
.foodtruck p.lu-name{font-size: 14px!important;color: #fff}
/* GALLERY */
.list p{background: url(../img/inv-icon.png) no-repeat;padding: 0 40px; font-size: 24px;color: #fff;font-family: TruenoSBd}
.list-gallery{margin: 0px 60px;}
.list-gallery div{margin: 0px 0px 20px;min-height: 170px;}
.list-gallery p{color: #fff;font-size: 20px;line-height: normal;font-weight: normal;}
.list-gallery a img{padding-right: 15px;}
.list-gallery a{color: #FFDC7D;}

.ticket,.ticket h1, .ticket .list p{color: #595959}
.ticket .list p{background: url(../img/inv-icon-dark.png) no-repeat center left;}
h1.color-white{color: #fff!important}

.circle { 
   width: 240px;
   height: 240px;
   /*background: #FF1659; */
   -moz-border-radius: 120px; 
   -webkit-border-radius: 120px; 
   border-radius: 120px;
   margin: 0 auto;
}
.circle img{width: 80%; margin: 0 auto;padding-top: 40px;}
ol li a{color: #fff!important}

.venue .venue-img{float: left;padding: 0 20px 0 0}
.venue .venue-desc{font-size: 30px;padding-top: 5px;}
/* FOOTER */
.footer-top{
  width: 100%;
  background: #ff1659;
  padding: 0px;
  text-align: center;
  display: block;
  margin: 20px 0 0;
  position: absolute;bottom: 0;width: 100%
}
.footer-top p{color: #fff!important}
.footer-top h2{color: #fff}
.segment-one h2{
  color: #fff;
  text-align: center;
}

.segment-one img{
  width: 70%; 
}

.segment-two, .segment-one{
  padding: 30px 20px;text-align: left;
}
.segment-two p{
  font-size: 15px!important;
}
.segment-two h2{
  color: #fff;
}

.segment-two a{
  background: #323232;
  margin: 0 10px;
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 50%;
}

.segment-two a i{
  font-size: 20px;
  color: #fff;
  padding: 10px 0px;
}
.segment-three{background-color: #323232; padding: 0 30px}
.segment-three h2{
  text-align:left;font-size: 16px!important;margin: 10px 0!important;
}
.segment-three .col-md-7{padding: 10px 0 0;}
.segment-three p{
  text-align: center;color: #fff;
}

.modal-content{background: #FF1659}
.modal-header{border-bottom: 0}
.modal-header .close{margin-top: -20px;}
button.close{font-size: 40px; color: #fff; opacity: 1}

.myaccordion {
  margin: 50px auto;
  box-shadow: 0 0 1px rgba(0,0,0,0.1);
}
 
.myaccordion .card,
.myaccordion .card:last-child .card-header {
  border: none;
}
 
.myaccordion .card-header {
  border-bottom-color: #EDEFF0;
  background: transparent;
}
 
.myaccordion .card-body{overflow: hidden;}
.myaccordion .card-body p{margin-left: 40px;}
.myaccordion .card-body ol li{font-weight: bold;}

.myaccordion .fa-stack {
  font-size: 18px;
}
 
.myaccordion .btn {
  width: 100%;
  font-weight: bold;
  color: #FFDC7D;
  padding: 10px 0;
  background: #000; 
}
 
.myaccordion .btn-link:hover,
.myaccordion .btn-link:focus {
  text-decoration: none;
}
 
.myaccordion li + li {
  margin-top: 10px;
}
#lirik .modal-content{background: #fff!important;}
#lirik .modal-header .close{color: #FF1659;}
#lirik .modal-content p{color: #FF1659; line-height: 14px;margin: 10px 0}
.mimpilead{background: #fff; color: #ff175a;font-size: 24px; padding: 5px 10px;font-family: TruenoBd;width: 80%; margin: 0 auto}
#section04{position: absolute;bottom: 0;width: 100%}
#section04 a {
  padding-top: 0px;
}
#section04 a span {
  position: absolute;
  top: 50px;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb04 2s infinite;
  animation: sdb04 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb04 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}
@keyframes sdb04 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}

.undian2.cara .col-md-4 p a{color: #fff}

.juicer-feed li.feed-item{background-color: #ee466e !important}
.juicer-feed li.feed-item:nth-child(odd) {
    background-color: #ee466e !important
}
.juicer-feed li.feed-item:nth-child(even) {
    background-color: #e47a8a !important
}


.color-blue-2{color: #020076}

/* KREATIF TANPA TAPI */
.navbar-default{background: none;border: 0px;padding: 15px 0}
.navbar{margin: 0;}
.navbar-default .navbar-toggle{background: #fff;}
.navbar-default .navbar-nav>li>a{color: #fff; font-family: "TruenoSBd", "Open Sans"; font-size: 20px;}
.nav>li{margin: 0 30px;}

.navbar-center{text-align: center;width: 60%; margin: 0 auto}
.navbar-center .col-md-2{padding: 30px 0}
.navbar-center a{color: #fff;font-size: 20px;font-family: TruenoRg}
#kv-top{padding:  0 0 20px 0;}
#kv-top p{font-size: 18px}
#kv-top .logo-kv{margin: 20px auto 0;}
.cta{width: 100%; position: relative;margin: 20px 0}
.cta .sbmt{font-size: 30px;padding: 10px 70px;border-radius: 30px;margin: 20px 0;font-weight: bold;font-family: "TruenoBd";color: #fff;}
.cta .sbmt i{border: 3px solid #fff; padding: 5px;}

.bg-form{background: #fff; border-radius: 15px;padding: 0px;}
.form-signin{width: 80%; margin: 0 auto;}
.form-signin h2{color: #000; font-size: 36px;padding: 20px 0}
.form-signin input{margin: 30px 0; background: #eee; color: #797979; border: none;border-radius: 0;height: 45px;}
.form-signin input[type=submit]{font-size: 20px;padding: 10px 100px;border-radius: 30px;margin: 20px 0;background: #323232; color: #fff}
.form-signin input[type=submit]:hover{color: #fff}

.tnc{background: #f9f9f9; color: #000; text-align: left; padding: 20px 0; -webkit-border-top-right-radius: 15px;
-webkit-border-bottom-right-radius: 15px;
-moz-border-radius-topright: 15px;
-moz-border-radius-bottomright: 15px;
border-top-right-radius: 15px;
border-bottom-right-radius: 15px;}
.tnc h3{color: #000;font-size: 26px; text-align: center;margin: 30px 0}
.tnc ul{padding: 0 30px;}
.tnc ul li{margin: 15px 0;}

.box-rounded{border-radius: 10px;padding: 20px;margin: 0 0 20px}
.box-rounded{color: #000;padding: 5px;}
.commerce{margin: 40px 0;}
.commerce .col-md-3 a{font-family: "TruenoBd"; border-radius: 15px;}

#contactus{background-color: #FFF;padding: 0px 0 0;position: relative;}
#contactus h2{text-align: center;font-size: 50px;margin: 30px 0}
#contactus h3{color: #fff;font-size: 40px; line-height: normal;font-family: TruenoBd}

#contactus p{color: #000;font-size: 24px; }
#contactus a.btn{font-size: 14px; padding: 5px 15px;height: auto;}

#prize{background:#FFF;padding: 20px 0}
#prize h2{text-align: center;font-size: 35px;text-transform: uppercase;margin: 20px 0 0px}
#prize p{font-size: 20px;margin: 5px}
#prize p.subtitle{color: #000;}
#prize .box{background:#ff1659;border: 3px solid #fff;border-radius: 10px;text-align: center;padding: 5px 0;box-shadow: 1px 1px 1px #ccc;position: relative;margin: 10px 0}
#prize .box p{margin: 0px;}
#prize .box.talent{padding-left: 100px;margin: 30px 60px}
#prize .prize-img.talent{display: block;width: 250px; height: auto; position: absolute;top: -83px;left: -68px;}
#prize .prize-img.talent img{width: 100%;}

#prize .three-row{margin: 0 150px;}
#prize .three-row .box{margin-bottom: 0;}
#prize .prize-img{display: block;width: 110px; height: auto; position: absolute;top: -10px;left: -50px;}
#prize .prize-img img{width: 100%;}

#prize .prize-img.right{right: -50px;left: auto;}
#prize img.hl-img{width: 800px; margin: 0 auto;display: block;}

#resultPost .modal-dialog{width: 400px;}
#resultPost .modal-content{background: #fff!important;}
#resultPost .modal-content .modal-header{margin-top: -18px;}
#resultPost .modal-content .modal-header .close{margin-right: -22px;background: #000;border-radius: 50%; padding: 0px 8px 4px; margin-top: -12px;}
#resultPost .modal-content .modal-header button.close{font-size: 30px;}
#resultPost .modal-content .modal-header button.close:hover{opacity: 1;color: #fff}
#resultPost .modal-content h3{color: #df2926; font-size: 30px;}
#resultPost .modal-content p{color: #000; padding: 0 30px}

#gallery-post{}
#gallery-post h2{text-align: center;font-family: "TruenoBd";font-size: 50px;}
#gallery-post .post{position: relative;margin: 20px 0px;}
#gallery-post .post img{object-fit: cover;width: 98%; height: 250px;}
#gallery-post .post .link{position: absolute;bottom: 0; right: 10px;font-size: 18px;padding: 5px 10px;background: none; text-align: center;}
#gallery-post .post .link a{background: #fff;margin: 5px;width: 25px;text-align: center;display: block;float: left;}
#gallery-post .post:hover .onhover{display: block;cursor: pointer;}
#gallery-post .post .onhover{position: absolute;height: 100%;right:15px; left: 15px; top: 0;background: rgba(255,255,255, 0.8);border-radius: 10px;text-align: center;padding: 30px;display: none;}
#gallery-post .post .onhover p.name{color: #000; font-family: "TruenoBd"; text-transform: uppercase;font-size: 24px;}
#gallery-post .post .onhover p.profesi{color: #000; font-family: "TruenoRg";font-size: 18px}
#gallery-post ul.pagination li.active span{background: #df2926; border: 1px solid #df2926;}
#gallery-post ul.pagination li.active span:hover{cursor: pointer;}

.progress{height: 25px;}
.progress p{margin: 0;}

#kreasi{padding: 20px 0;background: url("../img/nonstopkreasiq/bg-kreasi.jpg") no-repeat top center;}
#kreasi img.hl-img{width: 300px; margin: 0 auto; display: block;}
#kreasi h3{font-size: 35px;margin: 20px 0 10px}
#kreasi p{font-size: 20px;margin: 0 0 10px;}
#kreasi img.ch{width: 50%; margin: 0 auto}
#kreasi .box{border:2px solid #fff;border-radius: 5px;padding: 10px 20px;position: relative;margin-top: -87px;background: rgba(0,0,0,0.7);}
#kreasi .box .icon-kreasi{position: absolute; top: -40px;width: 50px; height: 50px;background-image: url("../img/nonstopkreasiq/parade_icon.png?v=1");}
#kreasi .box .icon-kreasi.lagu{right: 5px;}
#kreasi .box .icon-kreasi.quotes{left: 5px;background-position: 252px 0;}
#kreasi .box p{font-size: 18px;}
span.bg-w{color: #000; background: #FFF;padding: 5px;}
span.bg-b{color: #FFF; background: #000;padding: 5px;}
span.bg-p{color: #FFF; background: #ff1659;padding: 5px;}
#kreasi .box ul{margin: 0 0  30px;padding: 0;}
#kreasi .box ul li{list-style: none;text-align: left;margin: 10px 0;font-size: 16px;min-height: 50px;}
#kreasi .box ul li div{width: 50px; height: 50px; display: block;float: left;background-image: url("../img/nonstopkreasiq/parade_icon.png?v=1");margin:  0 10px 0;}
#kreasi .box ul li div.vidio{background-position: -52px 0;}
#kreasi .box ul li div.upload{background-position: -100px 0;}
#kreasi .box ul li div.mention{background-position: -150px 0;}
#kreasi .box ul li div.quote{background-position: -198px 0;}
#kreasi .box ul li div.follow{background-position: -298px 0;}
#kreasi .box ul li div.shareig{background-position: -249px 0;}
#kreasi .box a.btn{color: #ff1659; border-radius: 15px;font-family: TruenoSBd;font-size: 16px;}
#kreasi .box a.btn.btn-text{padding: 0 5px;font-size: 16px;}
#kreasi .box a.dengar{position: absolute;bottom: 20px;left: 20px; font-size: 12px}

#slide{background-image: linear-gradient(#fff,#d1d1d1);position: absolute;bottom: 0;width: 100%;padding: 10px}
#slide .row{margin: 0 200px;}
#slide .text-rotate{color: #fff;transform: rotate(-7deg);-webkit-text-stroke: 2px black;
    text-shadow: 1px 1px 1px #000;font-family: TruenoBd;font-size: 20px;line-height: 18px;}
#slide .slick{color: #000;}
#slide .slick .item{padding: 0 10px;font-size: 16px;}
#slide .slick .number{float: left;display: block;margin: 0 10px 0 0; font-size: 50px;color: #909090;font-family: TruenoBd}

#gallery{padding: 20px 0;background: #fff;}
#gallery h2{font-size: 35px; text-transform: uppercase;}
#gallery h2 span{font-size: 50px;}
#gallery img.hl-img{width: 350px; margin: 0 auto;display: block;}
#gallery p.subtitle{margin-top: 0;color: #000}
#gallery p{font-size: 20px;}
#gallery .slick-gallery .post{margin:0px 0;padding:0 0px; border: 1px solid #000;}
#gallery .slick-dots li button:before{font-size: 10px;}
#gallery .slick-dots li {margin: 0;}
#gallery .slick-dots{position: relative;width: 50%; margin: 0 auto}
#gallery .slick-prev, #gallery .slick-next{z-index: 999; top: 47%!important;}
#gallery .slick-prev{left: 15px;}
#gallery .slick-next{right: 15px;}

section#gallery .item{padding: 10px;}
section#gallery .item .name{padding: 10px 0;color: #909090; font-size: 14px;}
section#gallery .item .account {text-align: center;margin-top: 10px;}
section#gallery .item .account a{color: #000; font-size: 17px;}
.multiple-items .item img{object-fit: cover;height: 300px;object-position: center;}

#kv-top{position: relative;background-image: none!important;background-color: unset!important;overflow: hidden;}
#videobcg {
    position: absolute;
    top: -60px;
    left: 0;
    min-width: 125%;
    min-height: 100%;
    height:auto;
    width:100%;
    z-index: -100;
    opacity: 0.2;
}
.products{margin-bottom: 150px;}

#makeover{
    padding: 20px 0;
    background: url(../img/nonstopkreasiq/bg-kreasi.jpg) no-repeat bottom center;
}
#makeover #kreasi{background: none}
#makeover #kreasi .box{margin-top: 0;}
#makeover .side-left img.logo-hashtag{padding: 0 50px;}
#makeover .side-right img.text-title{padding: 0 50px;}
#makeover .side-right p{margin: 5px 0;font-size: 24px;}
#makeover .side-right{}
#makeover #kreasi .carousel{padding: 10px 40px;}
#makeover .carousel-control-next{right: -30px;top: 113px;}
#makeover .carousel-control-prev{left: -30px;top: 113px}
#makeover #makeovervid{margin: 20px auto; background: #000;border: 3px solid #fff;/*min-height: 470px;*/display: block;width: 48%;}

#kreasi .fp-tableCell{height: auto!important;}

#kreasi .box-outside{min-height: 300px;}
#kreasi .box-left{margin-top: -90px}

.prizes{background:#none;padding: 20px 30px;}
.prizes h2{text-align: center;font-size: 35px;text-transform: uppercase;margin: 20px 0 0px}
.prizes p{font-size: 20px;margin: 5px}
.prizes p.subtitle{color: #000;}
.prizes .box{background:#ff1659!important;border: 3px solid #fff!important;border-radius: 10px!important;text-align: center;padding: 5px 0!important;box-shadow: 1px 1px 1px #ccc;position: relative;margin: 10px 0!important}
.prizes .box p{margin: 0px;font-size: 10px!important;margin: 0px!important}
.prizes .box.talent{padding-left: 100px;margin: 30px 60px}
.prizes .prize-img.talent{display: block;width: 190px; height: auto; position: absolute;top: -64px;left: -85px;}
.prizes .prize-img.talent img{width: 100%;}
.prizes img{display: inline-block!important;width: 18px;}

.prizes .three-row{margin: 0 150px;}
.prizes .three-row .box{margin-bottom: 0;}
.prizes .prize-img{display: block;width: 88px; height: auto; position: absolute;top: -20px;left: -50px;}
.prizes .prize-img img{width: 100%;}

.prizes .prize-img.right{right: -50px;left: auto;}
.prizes img.hl-img{width: 800px; margin: 0 auto;display: block;}

.carousel-control{opacity: 1}
.carousel-control-next{position: absolute;top: 80px;right: -30px;left: unset;}
.carousel-control-prev{position: absolute;top: 80px;left: -45px;}
.carousel-control .fa{color: #fff!important;opacity: 1;font-size: 50px}

#slider3{min-height: 280px;}
img.menangkan-hadiah{width: 50%;margin: 10px auto 20px;display: inline-block!important;}
.box.talent .partnership{padding-left: 50px;}

/* extra faedah */
.extrafaedah p{color: #000;font-family:"TruenoLt", Helvetica, Arial, sans-serif;font-size: 20px;}
.extrafaedah #navbar{border-bottom: 1px solid #ee355f}
.extrafaedah h3{letter-spacing: 0px; font-family: "TruenoBd", Helvetica, Arial, sans-serif;font-size: 30px}
.extrafaedah h2{letter-spacing: 2px; font-family: "TruenoBd", Helvetica, Arial, sans-serif;font-size: 36px}
.arrow-down {
  box-sizing: border-box;
  height: 54px;
  width: 54px;
  border-style: solid;
  border-color: white;
  border-width: 0px 2px 2px 0px;
  transform: rotate(45deg);
}

.arrow-down:hover {
  border-bottom-width: 4px;
  border-right-width: 4px;
}

.extrafaedah .slick-prev,.extrafaedah .slick-next{z-index: 999; width: 100px; height: 100px;}
.extrafaedah .slick-prev:hover,.extrafaedah .slick-next:hover{opacity: 0.8!important}
.extrafaedah .slick-prev{left: -50px;background: url('../img/ef-arrow-left.png') no-repeat center center;}
.extrafaedah .slick-next{right: -50px;background: url('../img/ef-arrow-right.png') no-repeat center center;}
.extrafaedah .slick-prev:before,.extrafaedah .slick-next:before{content: ''}

.extrafaedah .play-btn{position: absolute;left: 50%; top: 50%;display: inline-block;background: red;transform: translate(-50%, -50%);background: url('../img/ef-button-play.png') no-repeat center center;width: 101px; height: 79px;}

.extrafaedah section.cara-ikutan{background: #e6e6e6;padding: 30px 0}
.extrafaedah .howto{background: #ee355f url(../img/ef-bg-howto.jpg) no-repeat center center;padding: 40px}
.extrafaedah .howto .logo{padding: 70px 30px 0;}
.extrafaedah .howto .logo img{margin: 0 auto; width: 100%}
.extrafaedah .howto .teks{padding: 30px;background: url('../img/ef-bg-howto.png') no-repeat center center;float: left;}
.extrafaedah .howto .teks ul{}
.extrafaedah .howto .teks ul li{margin: 10px 0;list-style: none;clear: both;float: left;width: 100%}
.extrafaedah .howto .teks ul li img{float: left;display: inline-block;margin-right: 15px;}
.extrafaedah .howto .teks ul li .note{padding-top: 15px;font-family:"TruenoLt", Helvetica, Arial, sans-serif;}
.extrafaedah .howto .teks ul li .note a{color: #fff;}
.extrafaedah .netijen p{padding: 0px 280px;}
.extrafaedah footer .container{border-top: 1px solid #ee355f}
.extrafaedah footer p{font-size: 14px;}
.extrafaedah footer ul{}
.extrafaedah footer ul li{display: inline-block;margin: 15px 20px}
.extrafaedah footer ul li a{color: #ff1659}

.extrafaedah .modal-dialog{padding: 0;}
.extrafaedah .modal-content{background-color: #fff}
.extrafaedah .modal-body p{color: #000;font-size: 15px;}
.extrafaedah ol li {color: #000}
.extrafaedah button.close{color: #000;position: absolute;right: 0; top: -10px}