/* ================================================================ */
/* Copyright: Kurniawan Aji Saputra                                 */
/* Tema : Smartfren - WOW                                    */
/* ================================================================ */

@media(min-width: 1350px){
	#kv-top .logo-kv{margin: 10px auto;}
	#kreasi,#gallery{background-size: cover}
}

@media(max-width: 800px){
	body{background: rgba(255,255,255,1);;background-size: 100%;overflow-x: hidden;}
 	header{padding: 5px 0;}
 	header + * {
	  padding-top: 85px;
	}
	.navbar-toggle{margin-top: 10px;}
	#videobcg{width: 100%;top:0;min-width: unset;min-height: unset;}
	.slick-slide img{margin: 0 auto;}
	.multiple-items{overflow-x: hidden!important;}
	.multiple-items.h .slick-prev{left: 35px!important;z-index: 99}
	.multiple-items.h .slick-next{right: 35px!important;}
	.multiple-items .slick-prev{left: 5px!important;}
	.multiple-items .slick-next{right: 5px!important;}
	.box{margin-top: 20px;}
	.shrp{top: -60px}
	#demo .col-md-4{width: 32%!important;display: inline-block;float: left;padding-left: 35px;}

	.slick-slide img{width: 100%;}
	ul.check-kupon li{width: 100%}
	ul.check-kupon li img{float: none;}
	ul.check-kupon li .text{text-align: center;width: 100%}
	ul.commerce{padding: 0;}
	ul.commerce li .col-md-2{width: 30%;float: left;}
	ul.commerce li .col-md-2 img{width: 100%;}
	
	.navbar-default{padding: 5px 0;}
	img.logo-left{margin: 10px;width: 120px;}
	#kv-top{padding-top: 0;}
	#kv-top .logo-kv{margin: 30px auto 0;width: 80%;}
	.form-signin h2{font-size: 30px;}
	.nav>li{margin: 10px 0}
	#navbar{position: absolute;z-index: 9; background: rgba(0,0,0,0.9); width: 100%}
	.commerce{margin: 0;}
	.commerce .col-md-3{width: 50%; float: left;margin: 30px 0;}
	.commerce .col-md-3 img{width: 80%}
	.sticky-prod{width:100px!important; }
	.kv_text{margin-top: 40px}

	#gallery img.hl-img{width: 80%}
	#gallery .slick-dots{display: none!important;}
	#gallery-post .post img{height: 200px}
	
	#prize h2{line-height: normal;}
	#prize .box.talent{margin: 40px 0;}
	#prize .col-md-3{width: 50%; float: left;}
	#prize p{font-size: 16px;}
	#prize .box{margin: 10px 0}
	#prize .three-row{margin: 20px;}
	#prize .three-row .box{margin: 0 40px  40px;}
	/*#prize .col-md-3{display: none;}*/
	#prize .col-md-3.f{width: 100%; margin-top: 0px;display: block;}
	#prize .col-md-3.f .box{width: 100%}
	#prize .two-row{margin: 0 40px;}
	#prize .three-row .box{margin: 20px 40px  40px;}
	#prize img.hl-img{width: 100%}

	#slide .row{margin: 0 20px;}
	#slide img{width: 80%; margin: 0 auto}

	#kreasi{background-size: cover;}
	#kreasi h3{font-size: 30px;}
	#kreasi img.hl-img{width: 100%}
	#slide .slick .number{padding-top: 12px;}
	#kreasi .box{margin-bottom: 20px;}
	#kreasi .box a.dengar{position: relative;font-size: 12px;bottom: unset;left: unset;margin-bottom: 10px;}

	.segment-one,.segment-two{padding: 20px}
	.segment-one img{width: 50%; margin: 0 auto}
	.segment-two p{padding: 0 20px;}
	.segment-three{padding: 20px;text-align: center!important;}
	.segment-three h2{text-align: center!important;}

	footer{overflow: hidden;}
	.footer-top,#slide{position: relative;}

	/* extra faedah */
	.extrafaedah .navbar-toggle{display: none;}
	.extrafaedah #kv-top h3{font-size: 18px;line-height: 18px;}
	.extrafaedah #kv-top h3 img{max-width: 80%;clear: both;display: block;margin: 0 auto}
	.extrafaedah #kv-top .cta{display: none;}

	.extrafaedah p{font-size: 15px}
	.extrafaedah .cara-ikutan h2{display: none;}
	.extrafaedah .cara-ikutan .howto{margin: 20px 0}

	.extrafaedah .netijen p{padding: 0;}
	.extrafaedah h2{margin: 10px 0!important; font-size: 28px;}

	.extrafaedah footer p{text-align: center;margin: 15px 0 0}
	.extrafaedah footer ul{padding-left: 0;}
	.extrafaedah footer ul li{margin: 10px 8px}

	.extrafaedah .slick-prev,.extrafaedah .slick-next{width: 80px; height: 60px;background-size: 60px 50px;}
	.extrafaedah .slick-prev{left: -20px;}
	.extrafaedah .slick-next{right: -20px;}

	.extrafaedah .navbar-header{border-bottom: 1px solid #ee355f}

	.extrafaedah .cara-ikutan .howto{margin: 10px 0;padding: 20px;background-position: center -40px;}
	.extrafaedah .howto .logo{padding: 20px 0 0px;}
	.extrafaedah .howto .teks{padding: 10px;background-size: 100% 100%;}
	.extrafaedah .howto .teks ul li{margin: 10px 0 10px -25px;}
	.extrafaedah .howto .teks ul li img{width: 50px;margin-right: 5px}
	.extrafaedah .howto .teks ul li .note{padding: 0; font-size: 11px;}

	.extrafaedah #cta-sticky{width: 20px;}

}

@media (max-width: 450px) {
  /*#kvtop{background: url(../img/nonstopkreasiq/bg_kv_top.jpg) no-repeat top center;background-size: cover;}*/
  #kvtop{background: unset;}
  #kreasi {padding: 20px 0}
  #videobcg{display: block;}
  .shrp{right: 35px}
  .shrp a{padding: 0px}
  #time .board{width: 300px;background-size: 300px auto; font-size: 45px; padding-top: 47px; margin: 0 auto;padding-left: 0;text-align: center;}
  #time.fest .board{width: 300px;background-size: 300px auto; font-size: 45px; padding-top: 47px; margin: 0 auto;padding-left: 0;text-align: center;}
  /*#demo .col-md-4{width: 32%!important;display: inline-block;float: left;padding-left: 35px;}*/
  .list p{font-size: 20px;}
  #activity.fest .others{width: 100%; font-size: 20px;}

  	#concert-2020 .top .video{margin-top: 20px;padding-top: 50px!important;
		background: url(../img/2020/concert/indonesiaguekeren.png) top center no-repeat!important;
		background-size: 280px!important;


	}

	.resp-container{width: 100%!important}
	.cta .col-md-3{width: 25%; float: left;}
	.cta .col-md-3.acts img{width: 100%;margin: 0;}
	.cta .sbmt{padding: 0;}
	#kreasi .box ul li{clear: both;}
	#kreasi .box ul li div.makeovers{margin-bottom: 61px;}
	#makeover{background-repeat: repeat;background-position: top center}
	#makeover .carousel-control-prev{top: 235px}
	#makeover .carousel-control-next{top: 235px}
	#makeover #kreasi .carousel{padding: 10px}
	#makeover #makeovervid{width: 80%}
	img.menangkan-hadiah{width: 100%;margin: 10px auto 20px;}

	.prizes .prize-img.talent{width: 178px;}
	.box.talent .partnership{padding-left: auto;}

	.carousel-control-prev{left: -32px; top: 88px}
	.carousel-control-next{top: 88px}

}

@media (max-width: 400px) {
	#kreasi .box ul li div{margin-bottom: 35px;}
	#kreasi .box ul li{margin: 20px 0}
	
}
